<!DOCTYPE html>
<html>
<head>
  <title>Listing</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "container">
    <div class = "text-left page-header well row">
      <h4 class = "col-md-5 col-sm-4 col-xs-4">Display Data</h4>
    </div>
    <% if notice %>
      <div class="alert alert-success">
        <p id="notice"><%= notice %></p>
      </div>
    <% end %>
    <div>
      <ul class = "nav nav-tabs bg-inverse">
        <li class = "nav-item <%= "active" if current_page?(books_path) || current_page?(root_path) %>">
          <%= link_to "Books", books_path, class: "nav-link"%>
        </li>
        <li class = "nav-item <%= "active" if current_page?(users_path) %>">
          <%= link_to "Users", users_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
    <div class = "row">
      <div class = "col-md-12 col-sm-12 col-xs-12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
