<h3>Tabulated Data</h3>
<table class = 'table table-bordered table-striped'>
  <thead>
      <tr>
        <% @class.column_names.each do |column| %>
          <th><%= column %></th>
        <% end %>
      </tr>
  </thead>
  <tbody>
    <% @data.each do |data|%>
      <tr>
        <% @class.column_names.each do |column|%>
          <td><%= data.send(column) %></td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td colspan = '<%= @class.column_names.count - 1 %>'>Number of <%= @class.to_s.pluralize %>:</td>
      <td><%= @class.count%> </td>
    </tr>
  </br>
  </tbody>
</table>
<%= link_to 'Back', main_app.root_path, class: 'btn btn-primary' %>
