<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<table class = 'table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user, class: 'btn btn-primary'%></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Display Table', datadisplay_path(:type => "User"), class: 'btn btn-primary' %>
<%= link_to 'New User', new_user_path, class: 'btn btn-primary' %>
