<!DOCTYPE html>
<html>
<head>
  <title>Datadisplay</title>
  <%= stylesheet_link_tag    "datadisplay/application", media: "all" %>
  <%= javascript_include_tag "datadisplay/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = 'container'>
    <%= yield %>
</div>

</body>
</html>
