<h1>Listing Books</h1>
<table class = 'table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= link_to 'Show', book, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_book_path(book), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Display Table', datadisplay_path(type: "Book"), class: 'btn btn-primary' %>
<%= link_to 'New Book', new_book_path, class: 'btn btn-primary' %>
